.person-enter {
  opacity: 0;
}
.person-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.person-exit {
  opacity: 1;
}
.person-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
.tag-enter {
  opacity: 0.5;
  transform: translateY(-100px);
}

.tag-enter.tag-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.4s ease-in-out;
}
