.App {
  text-align: center;
}

.fade-enter {
  opacity: 0;
  transform: translateX(100px);
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 0.4s ease-in-out;
}

.fade-exit {
  opacity: 1;
  transform: translateX(0px);
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transform: translateX(-100px);
  transition: all 0.4s ease-in-out;
}

div.transition-group {
  position: relative;
}

section.route-section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
